.body-produtos {
	background-color: black;
}

.produtos {
	width: 940px;
	margin: auto;
	padding: 50px;
	color: white;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: darkgoldenrod;
}

.produtos li:active {
	border-color: darkgoldenrod;
}

.produtos li:hover h2 {
	font-size: 35px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.preco-produto {
	font-size: 23px;
	font-weight: bold;
	margin-top: 10px;
}