#banner {
	width: 100%;
	height: auto;
	margin: 1em 0 0 0;
}

body {
	background-color: black;
}

.principal {
	background-image: linear-gradient(black, rgb(34, 33, 33), rgb(0, 0, 0));
	color: white;
}

.titulo-principal {
	color: rgb(136, 136, 136);
	font-family: 'Medula One', cursive;
	font-weight: 500;
	font-size: 120px;
}

.titulo-centralizado {
	text-align: center;	
	font-family: 'Barlow Condensed', sans-serif;
	color: rgb(206, 206, 206);
}

.descricao {
	text-align: center;
	color: rgb(165, 165, 165);
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 16px;
	margin: 1em;
}

#missao {
	font-size: 20px
}

.itens {
	color: rgb(165, 165, 165);
	font-family: 'Barlow Condensed', sans-serif;
}

.beneficios {
	padding: 20px;
	font-size: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}

header {
	padding: 20px;
}

.body-produtos {
	background-color: white;
}

.caixa {
	position: relative;
	width: 940px;
	margin: auto;
}

nav {
	position: absolute;
	top:  180px;
	right: 0;
}

nav li {
	display: inline;
	margin: 15px;
}

nav a {
	text-transform: uppercase;
	color: rgb(189, 189, 189);
	text-decoration: none;
	margin: 1em 1em 0 0;
	font-family: 'Medula One', cursive;
	font-size: 38px;
	font-weight: 400;
}

#menu-produtos {
	color: black;
}

#menu-produtos:active {
	color: darkgoldenrod;
}

#menu-produtos:hover {
	color: darkgoldenrod;
}

nav a:hover {
	color: rgb(122, 121, 121);
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: auto;
	padding: 50px;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border:2px solid black;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: darkgoldenrod;
}

.produtos li:active {
	border-color: darkgoldenrod;
}

.produtos li:hover h2 {
	font-size: 35px;
}
.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.preco-produto {
	font-size: 23px;
	font-weight: bold;
	margin-top: 10px;
}

.body-contato {
	background-color: white;
}

footer {
	text-align: center;
	background: url("./imagens/bg.jpg");
	padding: 40px;
}

.copyright {
	color: white;
	font-size: 13px;
	margin: 20px;
}

main{
	width: 940px;
	margin: 0 auto;
}

form{
	margin: 40px 0;
}

form label, form legend, p {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.check-box {
	margin: 20px 0;
}

.enviar{
	width: 20%;
	padding: 15px 0;
	background: darkgoldenrod;
	color: white;
	font-weight: bold;
	border: none;
	font-size: 18px;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover{
	background: rgba(201, 171, 5, 0.932);
	transform: scale(1);
}

table {
	margin: 0 20px 40px;
}

thead {
	background: gray;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid black;
	padding: 8px 15px;
}